.main-bg {
  display: grid;
  justify-items: center;
  padding: 160px 0px 30px 0px;
  text-align: center;
}

.main-conteudo > h1 {
  font-size: 4.75rem;
  font-family: "roboto", sans-serif;
  font-style: italic;
  margin-bottom: 60px;
}

.main-conteudo > p {
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 180px;
}

.main-conteudo > span {
  font-family: "roboto", sans-serif;
  font-size: 1.25rem;
}

@media (max-width: 800px) {
  .main-conteudo > h1 {
    font-size: 3.5rem;
  }
  .main-conteudo > p {
    font-size: 1.2rem;
  }
}
