.main-bg {
  display: grid;
  justify-items: center;
  padding: 160px 0px 30px 0px;
  text-align: center;
}
.main-conteudo > h1 {
  font-size: 4.75rem;
  font-family: "roboto", sans-serif;
  font-style: italic;
  margin-bottom: 60px;
}

.main-conteudo > p {
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 210px;
}

.main-conteudo > span {
  font-family: "roboto", sans-serif;
  font-size: 1.25rem;
  position: relative;
}

.main-conteudo > span::after {
  content: ">";
  position: absolute;
  top: 0;
  left: 100px;
  transform: rotate(90deg);
  color: var(--cor7);
  animation: seta 5s linear infinite;
}

@media (max-width: 800px) {
  .main-conteudo > h1 {
    font-size: 3.5rem;
  }
  .main-conteudo > p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .main-conteudo > h1 {
    font-size: 2.5rem;
  }
  .main-conteudo > p {
    font-size: 1rem;
  }
  .main-bg {
    padding: 100px 0px 30px 0px;
  }
  .main-conteudo > p {
    margin-bottom: 100px;
  }
}

@keyframes seta{
  0%{
    opacity: 0;
    top: -100%;
  }
  30%{
    opacity: 1;
    top: 0%;
  }
  60%{
    opacity: 1;
    top: 0%;
  }
  100%{
    opacity: 0;
    top: 100%
  }
}