.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

 .js .fade{
  opacity: 0;
  transform: translate3d(-30px, 0px, 0px);
  transition: 0.3s;
}

 .js .fade.ativo{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}