









.titulo2{
  font-family: "roboto", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

@media (max-width: 800px){
.titulo2 {
    font-size: 3rem; 
  }
}
@media (max-width: 600px){
  .titulo2 {
      font-size: 2rem;
      max-width: 10ch;
      word-wrap: break-word;
    }
  }


